{% extends 'base.html' %}
{% load static %}

{% block meta %}
  <title>Produksi Hewan</title>
{% endblock meta %}

{% block content %}
<style>
    /* The alert message box */
  .alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
  }
  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  }
  </style>

    {% if role == 'pengguna' %}
    <form method = "post">
        {% csrf_token %}
        <div class="container" align='center'>
            </br>
            </br>
            <p>ID Hewan</p>
            <select id="nama" name="nama">
                {% for res in result %}
                    <option value="{{ res.nama }}">{{ res.nama }}</option>
                {% endfor %}
            </select>
            </br>
            </br>
            <label for="">Jumlah</label>
            </br>
            </br>
            <input type="number" class="form-control" placeholder="Masukkan jumlah" name="jumlah" id="jumlah" min="1" required>
            </br>
            <label for="">XP</label>
            </br>
            </br>
            <input type="text" class="form-control" placeholder="Masukkan XP" name="xp" id="'xp" required value="5 x Jumlah" disabled>
            </br>
            <div align='center'>
                <button type="submit">Produksi</button>
            </div>
            {% if messages %}
            <br>
                <ul class="messages">
                    <div class="alert">
                        {% for message in messages %}
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                        {{message}}
                        {% endfor %}
                    </div>
                </ul>
            {% endif %}
        </div> 
    </form>
    {% endif %}
    {% if role == 'admin' %}
    <div align='center'>
        <h1>Admin tidak bisa mengakses fitur ini!</h1>
    </div>
    {% endif %}
{% endblock content %}