{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Upgrade lumbung</title>
{% endblock meta %}

{% block content %}
<br><br>
<h2  style="text-align:center"><b>Upgrade Lumbung</b></h2>
<br>
  
{% for i in results %}
<form style="margin: auto; width: 220px;" method="post">
    {% csrf_token %}
    <h4 disabled>Level lumbung: {{i.1}} -> {{level}}</h4>
    <input type="hidden" name="level" value={{level}} disabled>
    <h4 disabled>Kapasitas lumbung: {{i.2}} -> {{kapasitas}}</h4>
    <input type="hidden" name="kapasitas" value={{kapasitas}} disabled>
    <h4 disabled>Biaya upgrade: 200</h4>
    <input type="hidden" name="harga" value=200 disabled>
    <br>
    <button type="submit" style="padding: 4px 12px; border-radius: 12px; background-color: #25263b; color: white; width: 100px">Upgrade</button>

    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
    
</form>
{% endfor %}

{% endblock content %}