<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>List Aset</title>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');
  body {
      font-family:'Poppins';
      padding: 50px;
      background-color: beige;
  }

  tr {
    background-color: grey;
    color: rgb(255, 255, 255);
  }
  .buttons {
width: 50px;
margin: 0 auto;
display: inline;}

  .action_btn {
width: 70px;
margin: 0 auto;
display: inline;}

.design{
  color: black;
}



</style>
<body>

<h1 style="text-align: center;">List Koleksi Aset</h1>
<hr style="border: 1px solid black;">

<br> <br>
<table class="table table-bordered">
    <thead class="thead-dark">
    <tr>
        <th scope="col">No.</th>
        <th scope="col">Email Pengguna</th>
        <th scope="col">Nama Aset</th>
        <th scope="col">Minimum Level</th>
        <th scope="col">Harga Beli</th>
        <th scope="col">Jumlah</th>
        <th scope="col">
            {% if nama == "Dekorasi" %}
            Harga Jual
            {% elif nama == "Bibit Tanaman" %}
            Durasi Panen
            {% elif nama == "Kandang" %}
            Kapasitas Maks
            {% elif nama == "Hewan" %}
            Durasi Produksi
            {% elif nama == "Alat Produksi" %}
            Kapasitas Maks
            {% elif nama == "Petak Sawah" %}
            Jenis Tanaman
            {% endif %}
        </th>
        {% if nama == "Kandang" %}
        <th scope="col">Jenis Hewan</th>
        {% elif nama == "Hewan" %}
        <th scope="col">ID Kandang</th>
        {% endif%}
<!--        <th scope="col" class="d-flex justify-content-center">Action</th>-->
    </tr>
    </thead>

    <tbody>
    {% for row in table %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ row.0 }}</td>
        <td>{{ row.1}}</td>
        <td>{{ row.2 }}</td>
        <td>{{ row.3 }}</td>
        <td>{{ row.5 }}</td>
        {% if nama == "Kandang"%}
        <td>{{ row.6 }}</td>
        {% elif nama == "Hewan" %}
        <td>{{ row.6 }}</td>
        {% endif %}
<!--        <td>-->
<!--            <div class="buttons">-->

<!--                <div class="action_btn">-->
<!--                    <a href="/aset/update/{{}}"><button  name="submit" class="action_btn submit" type="submit" value="Update">Update</button></a>-->
<!--                    <a href="/aset/delete/{{}}"><button  name="submit" class="action_btn submit" type="submit" value="Delete">Delete</button></a>-->
<!--                </div>-->

<!--            </div>-->
<!--        </td>-->
    </tr>
    {% endfor %}
    </tbody>

</table>

</body>
</html>

