{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Produksi Tanaman</title>
{% endblock meta %}

{% block content %}
<br><br>
<h2  style="text-align:center"><b>Form Produksi Tanaman</b></h2>
<br>

<form style="margin: auto; width: 220px;" method="post">
  {% csrf_token %}
  <label for="nama">Bibit tanaman:</label>
  <select name="nama" style = "border-radius: 8px;">
    {% for i in bibit_tanaman %}
    <option value={{i.0}}>{{i.0}}</option>
    {% endfor %}
  </select>
  <br>
  <label for="jumlah">Jumlah:</label>
  <input type="number" name="jumlah" style = "border-radius: 8px;" required>
  <br><br>
  <label for="xp">XP:</label>
  <br>
  <input type="number" name="xp" value={{xp}} style = "border-radius: 8px;" disabled>
  <br><br>
  <button type="submit" style="padding: 4px 12px; border-radius: 12px; background-color: #25263b; color: white; width: 100px">Produksi</button>

  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  
</form>
{% endblock content %}