<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Menu Buat Aset</title>
</head>
<body>

<div class="mt-4 container">
    <h3 class="text-center">Menu Buat Aset</h3><hr>
    <div class="mt-3 d-flex justify-content-center">
        <a class="btn btn-outline-info" href="cdekor" role="button">Buat Dekorasi</a>
    </div>
    <div class="mt-3 d-flex justify-content-center">
        <a class="btn btn-outline-info" href="cbibit" role="button">Buat Bibit Tanaman</a>
    </div>
    <div class="mt-3 d-flex justify-content-center">
        <a class="btn btn-outline-info" href="ckandang" role="button">Buat Kandang</a>
    </div>
    <div class="mt-3 d-flex justify-content-center">
        <a class="btn btn-outline-info" href="chewan" role="button">Buat Hewan</a>
    </div>
    <div class="mt-3 d-flex justify-content-center">
        <a class="btn btn-outline-info" href="calatproduksi" role="button">Buat Alat Produksi</a>
    </div>
    <div class="mt-3 d-flex justify-content-center">
        <a class="btn btn-outline-info" href="cpetak" role="button">Buat Petak Sawah</a>
    </div>
</div>
</body>
</html>