{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>List paket koin</title>
{% endblock meta %}

{% block content %}
{% if role == 'pengguna' %}

  <!-- role pengguna read table -->
    <div class="table-wraper">
        <table class ="table">
            <thead>
                <th>No</th>
                <th>Paket Koin</th>
                <th>Harga</th>
                <th>Action</th>
            </thead>
            <tbody>
                {% for i in results %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{i.0}}</td>
                    <td>{{i.1}}</td>
                    <td><a href="{% url 'paket-koin:create_transaksi_pembelian_paket_koin' i.0 i.1 %}">Beli</a></td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    
{% else %}
    <div class="table-wraper">
        <table class ="table">
            <thead>
                <th>No</th>
                <th>Paket Koin</th>
                <th>Harga</th>
                <th>Action</th>
            </thead>
            <tbody>
                {% for i in results %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{i.0}}</td>
                    <td>{{i.1}}</td>
                    <td><a href="{% url 'paket-koin:update_paket_koin' i.0 i.1 %}">Update</a>
                    {% if i not in deleteable %}
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="jumlah_koin" value={{i.0}}>
                        <input type="hidden" name="harga" value={{i.1}}>
                        <button type="submit" style="padding: 4px 12px; border-radius: 12px; background-color: #25263b; color: white; width: 100px">Delete</button></td>
                    </form>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
{% endif %}
{% endblock content %}

