{% extends 'base.html' %}
{% load static %}

{% block meta %}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/form.css' %}">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"></script>
<title>Buat Aset</title>
{% endblock meta %}

{% block content %}
<div class="form-wraper">
    <form method="post">
        {% csrf_token %}
        <h1>
            Buat Transaksi Pembelian Aset
        </h1>
        <!--        <div class="input-button-wraper">-->
        <!--            <label class="form-label">ID</label>-->
        <!--            <input type = "text" placeholder="Masukkan ID" name="ID" required value="DKxxx" disabled>-->
        <!--        </div>-->

        <!--        <div class="input-button-wraper">-->
        <!--            <label class="form-label">Nama</label>-->
        <!--            <input type = "text" placeholder="Masukkan nama" name="nama">-->
        <!--        </div>-->

        <!--        <div class="input-button-wraper">-->
        <!--            <label class="form-label">Minimum Level</label>-->
        <!--                <input type = "text" placeholder="Masukkan minimum level" name="minimum_level">-->
        <!--            </div>-->

        <!--            <div class="input-button-wraper">-->
        <!--                <label class="form-label">Harga Beli</label>-->
        <!--                <input type = "text" placeholder="Masukkan harga beli" name="harga_beli">-->
        <!--            </div>-->

<!--        {% if jenis == "Dekorasi" %}-->
<!--        <div class="input-button-wraper">-->
<!--            <label class="form-control">ID</label>-->
<!--            <input type = "text" placeholder="Masukkan ID" name="ID" required value="DKxxx" disabled>-->
<!--        </div>-->

<!--        <div class="input-button-wraper">-->
<!--            <label class="form-control">Nama</label>-->
<!--            <input type = "text" placeholder="Masukkan nama" name="nama">-->
<!--        </div>-->

<!--        <div class="input-button-wraper">-->
<!--            <label class="form-control">Minimum Level</label>-->
<!--            <input type = "text" placeholder="Masukkan minimum level" name="minimum_level">-->
<!--        </div>-->

<!--        <div class="input-button-wraper">-->
<!--            <label class="form-control">Harga Beli</label>-->
<!--            <input type = "text" placeholder="Masukkan harga beli" name="harga_beli">-->
<!--        </div>-->

<!--        <div class="input-button-wraper">-->
<!--            <label class="form-control">Harga Jual</label>-->
<!--            <input type = "text" placeholder="Masukkan harga jual" name="harga_jual">-->
<!--        </div>-->

<!--        {% elif jenis == "Bibit Tanaman" %}-->
<!--        <div class="input-button-wraper">-->
<!--            <label class="form-control">ID</label>-->
<!--            <input type = "text" placeholder="Masukkan ID" name="ID" required value="BTxxx" disabled>-->
<!--        </div>-->

<!--        <div class="input-button-wraper">-->
<!--            <label class="form-control">Nama</label>-->
<!--            <input type = "text" placeholder="Masukkan nama" name="nama">-->
<!--        </div>-->

<!--        <div class="input-button-wraper">-->
<!--            <label class="form-control">Minimum Level</label>-->
<!--            <input type = "text" placeholder="Masukkan minimum level" name="minimum_level">-->
<!--        </div>-->

<!--        <div class="input-button-wraper">-->
<!--            <label class="form-control">Harga Beli</label>-->
<!--            <input type = "text" placeholder="Masukkan harga beli" name="harga_beli">-->
<!--        </div>-->

<!--        <div class="input-button-wraper">-->
<!--            <label class="form-control">Durasi Panen</label>-->
<!--            <input type = "text" placeholder="Masukkan durasi panen" name="durasi_panen">-->
<!--        </div>-->

<!--        {% elif jenis == "Kandang" %}-->
<!--        <div class="input-button-wraper">-->
<!--            <label class="form-control">ID</label>-->
<!--            <input type = "text" placeholder="Masukkan ID" name="ID" required value="KDxxx" disabled>-->
<!--        </div>-->

<!--        <div class="input-button-wraper">-->
<!--            <label class="form-control">Nama</label>-->
<!--            <input type = "text" placeholder="Masukkan nama" name="nama">-->
<!--        </div>-->

<!--        <div class="input-button-wraper">-->
<!--            <label class="form-control">Minimum Level</label>-->
<!--            <input type = "text" placeholder="Masukkan minimum level" name="minimum_level">-->
<!--        </div>-->

<!--        <div class="input-button-wraper">-->
<!--            <label class="form-control">Harga Beli</label>-->
<!--            <input type = "text" placeholder="Masukkan harga beli" name="harga_beli">-->
<!--        </div>-->

<!--        <div class="input-button-wraper">-->
<!--            <label class="form-control">Kapasitas Maksimum</label>-->
<!--            <input type = "text" placeholder="Masukkan kapasitas maksimum" name="kapasitas_maks_k">-->
<!--        </div>-->

<!--        <div class="input-button-wraper">-->
<!--            <label class="form-control">Jenis Hewan</label>-->
<!--            <input type = "text" placeholder="Masukkan jenis hewan" name="jenis_hewan">-->
<!--        </div>-->

<!--        {% elif jenis == "Hewan" %}-->
<!--        <div class="input-button-wraper">-->
<!--            <label class="form-control">ID</label>-->
<!--            <input type = "text" placeholder="Masukkan ID" name="ID" required value="HWxxx" disabled>-->
<!--        </div>-->

<!--        <div class="input-button-wraper">-->
<!--            <label class="form-control">Nama</label>-->
<!--            <input type = "text" placeholder="Masukkan nama" name="nama">-->
<!--        </div>-->

<!--        <div class="input-button-wraper">-->
<!--            <label class="form-control">Minimum Level</label>-->
<!--            <input type = "text" placeholder="Masukkan minimum level" name="minimum_level">-->
<!--        </div>-->

<!--        <div class="input-button-wraper">-->
<!--            <label class="form-control">Harga Beli</label>-->
<!--            <input type = "text" placeholder="Masukkan harga beli" name="harga_beli">-->
<!--        </div>-->

<!--        <div class="input-button-wraper">-->
<!--            <label class="form-control">Durasi Produksi</label>-->
<!--            <input type = "text" placeholder="Masukkan durasi produksi" name="durasi_produksi">-->
<!--        </div>-->

<!--        {% elif jenis == "Alat Produksi" %}-->
<!--        <div class="input-button-wraper">-->
<!--            <label class="form-control">ID</label>-->
<!--            <input type = "text" placeholder="Masukkan ID" name="ID" required value="APxxx" disabled>-->
<!--        </div>-->

<!--        <div class="input-button-wraper">-->
<!--            <label class="form-control">Nama</label>-->
<!--            <input type = "text" placeholder="Masukkan nama" name="nama">-->
<!--        </div>-->

<!--        <div class="input-button-wraper">-->
<!--            <label class="form-control">Minimum Level</label>-->
<!--            <input type = "text" placeholder="Masukkan minimum level" name="minimum_level">-->
<!--        </div>-->

<!--        <div class="input-button-wraper">-->
<!--            <label class="form-control">Harga Beli</label>-->
<!--            <input type = "text" placeholder="Masukkan harga beli" name="harga_beli">-->
<!--        </div>-->

<!--        <div class="input-button-wraper">-->
<!--            <label class="form-control">Kapasitas Maksimum</label>-->
<!--            <input type = "text" placeholder="Masukkan kapasitas maksimum" name="kapasitas_maks_ap">-->
<!--        </div>-->

<!--        {% elif jenis == "Petak Sawah"%}-->
<!--        <div class="input-button-wraper">-->
<!--            <label class="form-control">ID</label>-->
<!--            <input type = "text" placeholder="Masukkan ID" name="ID" required value="PSxxx" disabled>-->
<!--        </div>-->

<!--        <div class="input-button-wraper">-->
<!--            <label class="form-label">Nama</label>-->
<!--            <input type = "text" placeholder="Masukkan nama" name="nama">-->
<!--        </div>-->

<!--        <div class="input-button-wraper">-->
<!--            <label class="form-control">Minimum Level</label>-->
<!--            <input type = "text" placeholder="Masukkan minimum level" name="minimum_level">-->
<!--        </div>-->

        <div class="input-button-wraper">
            <label class="form-label">Detail Aset</label>
<!--            <input type = "text" placeholder="Masukkan harga beli" name="harga_beli">-->
        </div>

        <div class="input-button-wraper">
            <label class="form-label">Jumlah</label>
            <input type = "text" placeholder="Masukkan jumlah" name="jumlah">
        </div>

<!--        {% endif %}-->

        <button type= "submit" id="tombol" >
            BELI
        </button>

    </form>
</div>

{% endblock content %}