{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/list_lumbung.css' %}">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"></script>
  {% block meta %}
  {% endblock meta %}
</head>

<body>
  {% if role == 'admin' %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- <div class="container"> -->
        <!-- <a class="navbar-brand" href="#">TK3-F02</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto mb-2 mb-lg-0 ">
            <li class="nav-item ">
                <a class="nav-link px-3 active" href="#">Home <span class="sr-only"></span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Lumbung
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/lumbung">List Transaksi Upgrade Lumbung</a>
                    <a class="dropdown-item" href="{% url 'home:lihat_isi_lumbung' %}">Lihat Isi Lumbung</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Koin
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/paket-koin/create-paket-koin">Buat Paket Koin</a>
                    <a class="dropdown-item" href="/paket-koin">List Paket Koin</a>
                    <a class="dropdown-item" href="{% url 'paket-koin:list_transaksi_pembelian_koin' %}">List Transaksi Pembelian Koin</a>
                </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Aset
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Buat Aset</a>
                  <a class="dropdown-item" href="#">List Aset</a>
                  <a class="dropdown-item" href="#">Buat Hewan Menghasilkan Produk Hewan</a>
                  <a class="dropdown-item" href="#">List Hewan Menghasilkan Produk Hewan</a>
                  <a class="dropdown-item" href="#">Buat Bibit Menghasilkan Panen</a>
                  <a class="dropdown-item" href="#">List Bibit Menghasilkan Panen</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Koleksi Aset
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">List Koleksi Aset</a>
                  <a class="dropdown-item" href="#">List Transaksi Pembelian Aset</a>
              </div>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Produk
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'home:create_produk' %}">Buat Produk</a>
                  <a class="dropdown-item" href="{% url 'home:produk' %}">List Produk</a>
                  <a class="dropdown-item" href="{% url 'home:create_produksi' %}">Buat Produksi</a>
                  <a class="dropdown-item" href="{% url 'home:produksi' %}">List Produksi</a>
              </div>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Histori Produksi
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">List Histori Produksi Hewan</a>
                  <a class="dropdown-item" href="/histori-tanaman">List Histori Produksi Tanaman</a>
                  <a class="dropdown-item" href="#">List Histori Produksi Penjualan</a>
                  <a class="dropdown-item" href="{% url 'home:histori_produk_makanan' %}">List Histori Produksi Makanan</a>
              </div>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Pesanan
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/pesanan/create-pesanan">Buat Pesanan</a>
                  <a class="dropdown-item" href="/pesanan/list-pesanan">List Pesanan</a>
                  <a class="dropdown-item" href="/histori-penjualan/list-histori-penjualan">List Histori Penjualan</a>
              </div>
          </li>
          <li class="nav-item ">
              <a class="nav-link px-3 active" href="{% url 'home:logout' %}">Logout <span class="sr-only"></span></a>
          </li>
        </ul>
    <!-- </div> -->
    </div>
  </nav>
  <!-- Pengguna -->
  {% else %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <!-- <div class="container"> -->
          <!-- <a class="navbar-brand" href="#">TK3-F02</a> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto mb-2 mb-lg-0 ">
              <li class="nav-item ">
                  <a class="nav-link px-3 active" href="#">Home <span class="sr-only"></span></a>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Lumbung
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/lumbung/upgrade-lumbung">Upgrade Lumbung</a>
                      <a class="dropdown-item" href="/lumbung">List Transaksi Upgrade Lumbung</a>
                      <a class="dropdown-item" href="{% url 'home:lihat_isi_lumbung' %}">Lihat Isi Lumbung</a>
                  </div>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Koin
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/paket-koin">List Paket Koin</a>
                      <a class="dropdown-item" href="{% url 'paket-koin:list_transaksi_pembelian_koin' %}">List Transaksi Pembelian Koin</a>
                  </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Aset
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">List Aset</a>
                    <a class="dropdown-item" href="#">List Hewan Menghasilkan Produk Hewan</a>
                    <a class="dropdown-item" href="#">List Bibit Menghasilkan Panen</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Koleksi Aset
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">List Koleksi Aset</a>
                    <a class="dropdown-item" href="#">Buat Transaksi Pembelian Aset</a>
                    <a class="dropdown-item" href="#">List Transaksi Pembelian Aset</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Produk
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'home:produk' %}">List Produk</a>
                    <a class="dropdown-item" href="{% url 'home:produksi' %}">List Produksi</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Proses Produksi
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/histori-hewan/produksi-hewan">Produksi Hewan</a>
                    <a class="dropdown-item" href="/histori-hewan/list-histori-hewan">List Histori Produksi Hewan</a>
                    <a class="dropdown-item" href="/histori-tanaman/produksi-tanaman">Produksi Tanaman</a>
                    <a class="dropdown-item" href="/histori-tanaman">List Histori Produksi Tanaman</a>
                    <a class="dropdown-item" href="{% url 'home:create_histori_produk_makanan' %}">Produksi Produk Makanan</a>
                    <a class="dropdown-item" href="{% url 'home:histori_produk_makanan' %}">List Histori Produksi Makanan</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Pesanan
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/pesanan/list-pesanan">List Pesanan</a>
                    <a class="dropdown-item" href="/histori-penjualan/list-histori-penjualan">List Histori Penjualan</a>
                </div>
            </li>
            <li class="nav-item ">
                <a class="nav-link px-3 active" href="{% url 'home:logout' %}">Logout <span class="sr-only"></span></a>
            </li>
          </ul>
      <!-- </div> -->
      </div>
    </nav>
    {% endif %}

  {% block content %}
  {% endblock content %}
</body>

</html>
