{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/form.css' %}">
<link rel="stylesheet" href="{% static 'css/dropdown.css' %}">
<title>Basdat TK3 - F02</title>
{% endblock meta %}

{% block content %}
<div class="form-wraper">
  <form method="post">
    {% csrf_token %}
      <h1>
          Buat Produk
      </h1>
        <div class="wraper">
          <select name= "selected" id="jenis_produk">
              <option disabled selected>jenis produk</option>
              <option value="hasil_panen">hasil panen</option>
              <option value="produk_hewan">produk hewan</option>
              <option value="produk_makanan">produk makanan</option>
          </select>
        </div>
       
      <!-- </div> -->

      <div class="input-button-wraper">
          <input type = "nama" placeholder="nama" name="nama"> 
      </div>
      <div class="input-button-wraper">
          <input type = "harga_jual" placeholder="harga jual" name="harga_jual"> 
      </div>
      <div class="input-button-wraper">
        <input type = "sifat_produk" placeholder="sifat produk" name="sifat_produk"> 
    </div>
      <div class="input-button-wraper">
          <button type= "submit" id="tombol" >
              Tambahkan
          </button>
      </div> 
    </form>
</div>
<div>
  {% for message in messages %}
  <h2> {{message}}</h2>
  {% endfor %}
</div>
{% endblock content %}
