{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/form_produksi.css' %}">
<link rel="stylesheet" href="{% static 'css/dropdown.css' %}">
<title>Basdat TK3 - F02</title>

{% endblock meta %}

{% block content %}

<div class="center">


<div id="form-wraper" class="form-wraper">
  <form method="post">
    {% csrf_token %}
    <h1>
      Buat Produksi
  </h1>
  <div class="wraper">
    <select name="nama_produk_makanan" id="jenis_produk" >
        <option disabled selected>nama produk makanan</option>
        {% for i in object_makanan %}
        <option value="{{i.nama}}">{{i.nama}}</option>
        {% endfor %}
    </select>
  </div>
  <div class="wraper">
    <select name="alat_produksi" id="jenis_produk" >
        <option disabled selected>alat produksi</option>
        {% for i in object_aset %}
        <option value="{{i.nama}}">{{i.nama}}</option>
        {% endfor %}

    </select>
  </div>
  <div class="input-button-wraper">
      <input type = "durasi_produksi" placeholder="durasi produksi (dalam menit)" name="durasi_produksi"> 
  </div>
  <div class="input-button-wraper">
    <input type = "jumlah_produk_dihasilkan" placeholder="jumlah produk dihasilkan" name="jumlah_produk_dihasilkan"> 
</div>
    <h1>Daftar Bahan yang Dibutuhkan: </h1>
    <div class="wraper-button-dropdown">
      <div class="duplicate-one">
        <div class="wraper">
          <select name="selected-one" id="jenis_produk" >
              <option disabled selected>bahan</option>
              {% for i in object_bahan %}
                <option value="{{i.nama}}">{{i.nama}}</option>
              {% endfor %}
          </select>
        </div>
      <div class="input-button-wraper">
        <input type = "jumlah" placeholder="jumlah" name="jumlah-one"> 
         
        </div>
    </div>

    <div class="duplicate-two">
      <div class="wraper">
        <select name="selected-two" id="jenis_produk" >
            <option disabled selected>bahan</option>
            {% for i in object_bahan %}
                <option value="{{i.nama}}">{{i.nama}}</option>
              {% endfor %}
        </select>
      </div>
    <div class="input-button-wraper">
      <input type = "jumlah" placeholder="jumlah" name="jumlah-two"> 
       
      </div>
  </div>

    <div class="duplicate">
      <div class="wraper">
        <select name="selected-three" id="jenis_produk" >
            <option disabled selected>bahan</option>
            {% for i in object_bahan %}
                <option value="{{i.nama}}">{{i.nama}}</option>
              {% endfor %}
        </select>
      </div>
    <div class="input-button-wraper">
      <input type = "jumlah" placeholder="jumlah" name="jumlah-three"> 
       
      </div>
  </div>
</div>

<div  class="input-button-wraper" id="delete-more-rooms"> 
  <button style = 'background-color: rgb(240, 33, 33);' type= "submit" id="tombol" onclick= "deleteForm();">
      Hapuskan Bahan
  </button>
</div>
    <div class="input-button-wraper" id="add-more-rooms"> 
      <button type= "submit" id="tombol" onclick= "duplicateForm();">
          Tambahkan Bahan
      </button>
    </div>
    <div class="input-button-wraper" id="tambahkan"> 
      <button type= "submit" id="tombol" >
          Tambahkan
      </button>
    </div>
  </form>
</div>

    
</div>

<script>
const div = document.getElementById('form-wraper');

function duplicateForm() {

  let forms = div.getElementsByClassName('duplicate');
  let firstForm = forms[0];
  
  let button = document.getElementById('add-more-rooms')
  let button_delete = document.getElementById('delete-more-rooms')
  let button_tambah = document.getElementById('tambahkan')
  button_delete.remove();
  button.remove();
  button_tambah.remove();
  let formClone = firstForm.cloneNode(true);
  
  div.appendChild(formClone);
  div.append(button_delete);
  div.append(button);
  div.append(button_tambah);
}
function deleteForm() {

let forms = div.getElementsByClassName('duplicate');
let firstForm = forms[0];

firstForm.remove();
}
  </script>
{% endblock content %}

