{% extends 'base_web.html' %}
{% load static %}

{% block meta %}
<title>Basdat TK3 - F02</title>
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock meta %}

{% block content %}
<div class="form-wraper">
  <form method="post">
    {% csrf_token %}
      <h1>
          Registrasi Admin
      </h1>
      <div class="input-button-wraper">
          <input type = "email" placeholder="e-mail" name="email"> 
      </div>
      <div class="input-button-wraper">
          <input type = "password" placeholder="password" name="password"> 
      </div>
      
      <div class="input-button-wraper">
          <button type= "submit" id="tombol" >
            Registrasi
          </button>
      </div> 
    </form>
</div>
{% endblock content %}
